*{
  font-family: helvetica;
  font-weight: 100;
}

.pnon{
  background-color: #F5E00F;
  height: 70px;
  width:200px;
  /*padding: 50px;*/
  margin:15px;
}

.ppar{
  background-color: #D3336E;
  height: 70px;
  width:200px;
  /*padding: 50px;*/
  margin:15px;
  /*border: 1px solid black;*/
}
