*{
  font-family: helvetica;
  font-weight: 100;
}

.pnon{
  display: inline-block;
  background-color: #F5E00F;
  height: 50px;
  width:200px;
  padding: 10px;
  margin:4px;
}

.ppar{
  display: inline-block;
  background-color: #D3336E;
  height: 50px;
  width:200px;
  padding: 10px;
  margin:4px;
  /*border: 1px solid black;*/
}
